[Unit]
Description=Відстеження перезапуску контейнера Spheron та запуск скрипта
After=docker.service
Wants=docker.service

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'echo $(docker ps --format "{{.Image}} {{.Names}}" | grep "spheronnetwork" | awk "{print \$2}") > /run/spheron_container_name'
ExecStart=/bin/bash -c 'name=$(cat /run/spheron_container_name); docker events --filter container=$name --filter event=start | while read event; do /bin/bash /root/scripts/spheron/restart.sh; done'
Restart=always

[Install]
WantedBy=multi-user.target
