[Unit]
Description=Відстеження перезапуску контейнера Spheron та запуск скрипта
After=docker.service
Wants=docker.service

[Service]
Type=simple
ExecStart=/bin/bash -c 'docker events --filter container=fizz-fizz-1 --filter event=start | while read event; do /bin/bash /root/scripts/spheron/restart.sh; done'
Restart=always

[Install]
WantedBy=multi-user.target
